<template>
    <div class="card card-default">
        <div class="card-header">All Emails</div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Sl</th>
                        <th>Reciver Name</th>
                        <th>Reciver Email</th>
                        <th>Subject</th>
                        <th>Time</th>
                        <th>Action</th>
                    </tr>
                    <tr v-for="(email, index) in emails" :key="index">
                        <td>{{ index + 1 }}</td>
                        <td>{{ email.name }}</td>
                        <td>{{ email.email }}</td>
                        <td>{{ email.subject }}</td>
                        <td>{{ email.created_at }}</td>
                        <td>
                            <a @click.prevent="showModalEvent(email)" class="btn btn-info btn-sm" href="#">Body</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div v-if="showModal">
            <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">

                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ modalInfo.title }}</h5>
                            <button @click="showModal = false" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" @click="showModal = false">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p v-html="modalInfo.body"></p>
                        </div>
                    </div>
                </div>

                </div>
            </div>
            </transition>
        </div>
    </div>
</template>

<script>
export default {
    name: 'email-index',
    data() {
        return {
            emails: [],
            showModal: false,
            modalInfo: {
                title: '',
                body: ''
            }
        }
    },
    mounted() {
        this.fetchEmails();
    },
    methods: {
        fetchEmails() {
            axios.get('/emails')
            .then(response => {
                this.emails = response.data
            });
        },
        showModalEvent(info) {
            this.modalInfo.title = info.subject
            this.modalInfo.body = info.message
            this.showModal = true
        }
    }
}
</script>

<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
</style>
